<%= simple_form_for @group do |ff|%>

<div class="form-group">
  <%= ff.input :title, input_html: { class: "form-control"} %>
  <%= ff.input :description, input_html: { class: "form-control"} %>
</div>
<%= ff.submit "提交", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
