<div class="col-md-4 col-md-offset-4">
  <h2>edit discussion board</h2>

  <hr>
  <%= form_for @group do |f| %>

  title@edit
  <%= f.text_field :title %>
  <br>
  <br>
  description@edit
  <br>
  <br>
  <%= f.text_area :description %>
  <br>

  <%= f.submit "AhAh Submit", :disable_with => 'Submiting...'%>
  <% end %>
</div>
